
body {
  background-color: #f0f0f0;
  color: #333;
}


header {
  background-color: #d32f2f; 
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}
img {
	float : right;
	margin-right : 400px;
	max-width :600px;
	height: 400;
}


div {
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}





footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
